body,html {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(/img/game.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
    
}

.container {
    margin: 0;
    padding: 0;;
    display: grid;
    height: 100vh;
    width: 100vw;

    grid-template-columns: 2fr 3fr 3fr 3fr 2fr ;
    grid-template-rows: 1fr 2fr 2fr 1fr;


  
    grid-template-areas:
        "cellA cellE cellE cellE cellC"
        "cellA cellB cellB cellB cellC"
        "cellD cellB cellB cellB cellF"
        "cellD cellG cellG cellG cellF";
              
      
}


button:active {
    transform: scale(0.9);
}


#upgrades button{
    padding: 10px 20px;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    animation: pulse 2s infinite;
}

#center-screen button {
    padding: 20px 30px;
    margin: 10px;
    font-size: 45px;
    cursor: pointer;
    background-color: rgba(75, 9, 9, 0.7);
    background-color: rgba(176, 187, 19, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    animation: pulse 2s infinite;
    
    
    
  
    
    
    
}

button:hover {
    background-color: rgba(214, 98, 3, 0.2);
    background-color: rgba(255, 255, 0, 0.8); /* Yellow glow */
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.8);
}


#score {
    grid-area: cellA;
    background-color: rgb(226, 125, 9);
    border: solid black;
    padding: 5px;
    background-image: url(/img/spaceouter.webp);
     background-size:cover;
}
span#score-value{
    border: 3px solid cyan;
    animation: glitch 0.5s infinite alternate;
}

#center-screen {
    grid-area: cellB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px solid cyan; /* Initial border color */
    border-radius: 10px; /* Rounded edges */
    box-shadow: 0 0 10px cyan, 0 0 20px cyan inset; /* Outer and inner glow */
}

#upgrades {
    grid-area: cellC;
    display: grid;
    text-align: center;
    background-color: rgb(226, 125, 9);
    border: solid black;
    padding: 5px;
    background-image: url(/img/spaceouter.webp);
     background-size:auto;
    
}




 div#upgradeDisplay{
    grid-area: cellD;
     background-color: rgb(226, 125, 9); border:  solid black;
     justify-content: left;
     display: grid;
     align-items: center;
     background-image: url(/img/workshopV.jpg);
     background-size:cover;
    
    
 }   
 #minorUpgrades {
    grid-area: cellF;
    display: grid;
   
    background-color: rgb(150, 75, 0); /* Slightly darker to differentiate */
    border: solid black;
    padding: 5px;
    background-image: url(/img/workshopH.jpg);
    background-size:cover
    
    

}

#topMenu {
    grid-area: cellE;
    display: grid;
    text-align: center;
    background-color: rgb(150, 75, 0); /* Slightly darker to differentiate */
    border: solid black;
    padding: 10px;
    background-image: url(/img/spaceouter.webp);
    background-size:cover;
    background-position: center;
}


#bottomMenu{
    grid-area: cellG;
    display: grid;
    text-align: center;
    background-color: rgb(150, 75, 0); /* Slightly darker to differentiate */
    border: solid black;
    padding: 10px;
    background-image: url(/img/bottommenu.webp);
    background-size: cover;
}
#bottomMenu button{
    padding: 10px 20px;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    animation: pulse 2s infinite;
    
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}


@keyframes glitch {
    0% { border-color: cyan; }
    25% { border-color: magenta; }
    50% { border-color: lime; }
    75% { border-color: cyan; }
    100% { border-color: cyan; }
}

#asteroide {
    width: 100px;
    height: 100px;
    background-image: url('/img/asteroideclicker.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-indent: -9999px; /* Hide text */
}
#asteroide:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}